@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #007bff ;
}

.start-btn,.info-box,.quiz-box,.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform: all 0.3s ease;
 
}

.start-btn button{
     font-size: 25px;
     font-weight: 500 ;
     color: #007bff;
     padding: 15px 30px;
     outline: none;
     border-radius:5px;
     background: #fff;
     cursor: pointer;
     border: none;
}

.info-box{
width: 540px;
background: #fff;
border-radius: 5px;
opacity: 0;
pointer-events: none;
transform: translate(-50% , -50%) scale(0.9)
}
.info-box.activeInfo,.quiz-box.activeQuiz,.result-box.activeResult{
z-index: 5;    
opacity: 1;
pointer-events: auto;
transform: translate(-50% , -50%) scale(1)
    
}

.info-box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
   
    padding:0 35px;
    font-size: 20px;
    font-weight: 800;
}

.info-box .rule-list{
    padding:0 35px; 
}
.info-box .rule-list .rule{
    margin: 5px 0;
    font-size: 15px;
}

.info-box .rule-list .rule span{
    font-weight: 600;
    color: #007bff;
}

.info-box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
   
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}
.buttons button.quit{
    color: #007bff;
    border-color: #007bff ;

}

.buttons button.re-start{
    color:#ffff;
     background-color: #007bff ;
     border-color: #007bff;

}

.buttons button.quit:hover{
    background: #007bff;
    color: #fff;
}

.buttons button.re-start:hover{
    background:#0263ca ;
}
.quiz-box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
pointer-events: none;
transform: translate(-50% , -50%) scale(0.9)
}

.quiz-box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0, 0.1);
}

.quiz-box header .title{
    font-size: 20px;
    font-weight: 800;
}
.quiz-box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header  .timer-line{
 position: absolute;
 bottom: 0px;
 left: 0px;
 /* width: 50%; */
 height: 3px;
 background:#007bff;
}
.quiz-box header .timer .time-text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec{
    font-size: 18px;
    font-weight: 500;
    background:#343a40 ;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-box section{
    padding: 25px 30px 20px 30px ;
    background: #fff;

}
.quiz-box section .ques{
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list{
    padding: 20px 0;
    display: block;
}
section .option-list .option{
    background: aliceblue;
    border:1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px ;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
}
.option-list .option:last-child{
    margin-bottom: 0PX;
}
.option-list .option:hover{
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;


}

.option-list .option.disabled{
    pointer-events: none;
}
.option-list .option .icon{
 height: 26px ;
 width: 26px;
 border: 2px solid transparent;
 border-radius: 50%;
 text-align: center;

}

.option-list .option .icon.tick{
    border-color: #23903c ;
    color: #23903c;
    background: #d4edda;
}

.option-list .option .icon.cross{
    border-color: #a4283a ;
    color: #f8d7da;
    background: #a4283a;
}
.option-list .option.correct{
    border-color: #23903c ;
    color: #23903c;
    background: #d4edda;
}
.option-list .option.incorrect{
    border-color: #915760 ;
    color: #f8d7da;
    background: #a1404e;
}
.quiz-box footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px ;
}

.quiz-box footer .total-ques span{
    display: flex;
    user-select: none;


}

.quiz-box footer  .total-ques p{
    font-weight: 600;
    padding: 0 2px;
}
.quiz-box footer  .total-ques p:first-child{
    padding-left:0px;
}
footer .next-btn{
    display: none;
    height: 40px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #004085;
    color: #fff;
    cursor: pointer;
    border: 1px solid #004085;
    transition: all 0.3s ease;
}
footer .next-btn:hover{
    background:#0263ca ;
}

.result-box{
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale(0.9) ;
}

.result-box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result-box .complete-text{
    font-size: 20px;
    font-weight: 600;
}
.result-box .score-text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result-box .score-text p{
    font-weight: 600;
    padding: 0 4px;
}

.result-box .buttons{
    display: flex;
    margin: 20px 0;
    transition: all 0.3s ease;
}

.result-box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none ;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}


@media only screen and (max-width: 500px){
    body{
        width: 100%;
    }

    .info-box{
        width: 350px;
        
    }

    .quiz-box{
             width: 350px;
             height: 62vh;
             
    }

    .quiz-box section .ques span{
        font-size: 20px;

    }
    .quiz-box section .option-list{
        padding: 7px 0;
    }

    .result-box{
        font-size: 16px;
        width: 350px;
    }
    .result-box .score-text span{
        font-size: 14px;
    }
    .result-box .buttons button{
        padding: 2px;
        font-size: 16px;
    }
    .quiz-box header{
        padding: 0 14px;
    }
    section .option-list .option{
        font-size: 15px;
    }
    
    .quiz-box footer{
        height: 28px;
        padding-bottom: 50px;
        padding-top: 28px;
    }
    .quiz-box section{
        padding-bottom: 0px;
    }
    
    
}